* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  height: 100%;

}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:  auto;

}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.container {
  height: 100%;
  /* min-height: 70%; */
  width: 70%;
  /* position: relative; */
  background-color: royalblue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: .25em;

}

.card {
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  animation: 3.5s hideCard linear;
  transition: transform 0.5s;

}

@keyframes hideCard {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg)
  }
}

.card img {
  max-width: 60%;
  max-height: 60%;
  transform: scale(0);
  animation: 3.5s hideImage linear;
  transition: transform 0.5s;
}

@keyframes hideImage {
  0%, 70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.card.active {
  transform: rotateY(0);
}

.card.correct {
  background-color: limegreen;
}

.card.wrong {
  background-color: red;
}

.card.active img {
  transform: scale(1)
}

